.ob-glow-wrapper {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: 1;
}

.ob-glow-inner {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

.ob-glow-inner::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  border: var(--border-width, 1px) solid transparent;

  background:
    repeating-conic-gradient(
      from 236.84deg at 50% 50%,
      rgba(255,87,168,0.7) 0%,
      rgba(255,130,190,0.5) calc(20% / 5),
      rgba(255,255,255,0.3) calc(40% / 5),
      rgba(255,130,190,0.5) calc(60% / 5),
      rgba(255,87,168,0.7) calc(80% / 5),
      rgba(255,87,168,0.7) calc(100% / 5)
    );
  background-attachment: fixed;

  opacity: var(--active, 0);
  transition: opacity 300ms;

  -webkit-mask-clip: padding-box, border-box;
  mask-clip: padding-box, border-box;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  -webkit-mask-image:
    linear-gradient(transparent, transparent),
    conic-gradient(
      from calc((var(--start, 0) - var(--spread, 40)) * 1deg),
      transparent 0deg,
      white,
      transparent calc(var(--spread, 40) * 2deg)
    );
  mask-image:
    linear-gradient(transparent, transparent),
    conic-gradient(
      from calc((var(--start, 0) - var(--spread, 40)) * 1deg),
      transparent 0deg,
      white,
      transparent calc(var(--spread, 40) * 2deg)
    );
}

.ob-glow-inner::before {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  opacity: calc(var(--active, 0) * 0.6);
  transition: opacity 300ms;
  filter: blur(8px);

  background:
    repeating-conic-gradient(
      from calc((var(--start, 0) - var(--spread, 40)) * 1deg) at 50% 50%,
      transparent 0deg,
      rgba(255,87,168,0.5) calc(var(--spread, 40) * 0.4deg),
      rgba(255,130,190,0.3) calc(var(--spread, 40) * 0.8deg),
      rgba(255,87,168,0.5) calc(var(--spread, 40) * 1.2deg),
      rgba(255,87,168,0.5) calc(var(--spread, 40) * 1.6deg),
      transparent calc(var(--spread, 40) * 2deg)
    );
  background-attachment: fixed;

  -webkit-mask-clip: padding-box, border-box;
  mask-clip: padding-box, border-box;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  -webkit-mask-image:
    linear-gradient(transparent, transparent),
    conic-gradient(
      from calc((var(--start, 0) - var(--spread, 40)) * 1deg),
      transparent 0deg,
      white,
      transparent calc(var(--spread, 40) * 2deg)
    );
  mask-image:
    linear-gradient(transparent, transparent),
    conic-gradient(
      from calc((var(--start, 0) - var(--spread, 40)) * 1deg),
      transparent 0deg,
      white,
      transparent calc(var(--spread, 40) * 2deg)
    );
}
